.employeeChartWrapper {
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* hafif yukarıdan gelsin */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.employeeDetailPanel {
  max-width: 320px;
  background-color: #000;
  color: white;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(57, 255, 20, 0.3);
  animation: fadeIn 0.5s ease-out;
}

.employeeDetailPanel h3 {
  margin-top: 0;
  font-size: 18px;
  color: #39ff14;
}

.employeeDetailPanel p {
  margin: 6px 0;
  font-size: 14px;
  line-height: 1.4;
}
