/* index.css - Global Stil */

:root {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  background-color: #0f0f0f;
  color: #e5e5e5;
  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #0f0f0f !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  color: #e5e5e5;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

a {
  font-weight: 500;
  color: #22c55e;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #16a34a;
}

h1,
h2,
h3,
h4,
h5 {
  color: #ffffff;
  margin-top: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #e5e5e5;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: #22c55e;
  background-color: #111;
}

button:focus,
button:focus-visible {
  outline: 3px solid #22c55e;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #22c55e;
  }

  button {
    background-color: #f9f9f9;
    color: black;
  }
}
