/* HomePage.module.css */

#about,
#filter,
#map,
#graph,
#employee,
#prediction {
  scroll-margin-top: 80px;
  padding-top: 80px; /* sadece #about için değil, diğerlerinde de istersen görünür içerik kaybolmasın */
}

.aboutSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 80px !important;
}

.EmployeePieChart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1;
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(34, 197, 94, 0.15);
  transition: transform 0.3s ease;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  min-height: 280px;
}

.card:hover {
  transform: translateY(-5px);
}

.cardTitle {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}

.cardTitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #22c55e;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.cardContent {
  font-size: 1rem;
  line-height: 1.6;
  color: #cccccc;
  flex-grow: 1;
}

strong {
  color: #22c55e;
}
.sectionTitle {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 24px;
  padding-left: 10px;
  border-left: 4px solid #22c55e;
}

.sectionHeading {
  color: #ffffff;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  text-align: left; /* sola hizalama */
  margin: 60px 0 24px 0; /* üstten boşluk artırıldı, alttaki boşluk korundu */
  padding-left: 10px;
}

.sectionHeading::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #22c55e;
  margin-top: 0.5rem;
  border-radius: 2px;
  margin-left: 10px; /* sola hizalanacak şekilde */
}

.mapSection {
  padding: 2rem;
  background-color: #0f0f0f;
  text-align: center;
}

.mapTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.chartSection {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}

.placeholder {
  height: 200px;
  background-color: #e5e7eb;
  border-radius: 8px;
  margin-top: 1rem;
}

/* .sectionDivider {
  height: 1.5px; /* daha ince çizgi 
  width: 100%;
  background: linear-gradient(90deg, transparent, #5b5858, transparent);
  background-size: 200% 100%;
  animation: glow 5s infinite linear;
  border-radius: 1px;
  margin: 40px 0;
}

@keyframes glow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
} */

@media (max-width: 768px) {
  .aboutSection {
    flex-direction: column;
    padding: 20px;
  }

  .card {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e5e7eb;
    max-height: unset;
  }

  .filterSection select,
  .filterSection button {
    width: 100%;
    margin-top: 10px;
  }

  .mapSection,
  .chartSection {
    padding: 1rem;
  }
}
